:root {
  --background: #ffe3ee;
  --foreground: #1d35df;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Manrope, "Playfair Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
