.title {
  position: relative;
  margin-top: 9rem;
  font-size: 2.5rem;
  font-weight: 900;
}
.title::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 50px;
  height: 50px;
  background: url("../../../../../public/star.png") no-repeat;
}

.desc {
  font-size: 1.1rem;
  margin: 4rem 0;
  line-height: 2rem;
}
.form {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.form label {
  display: flex;
  flex-direction: column-reverse;
}
.form input {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  border: 1px solid var(--foreground);
}

.form input:hover,
.form input:checked {
  background-color: rgba(0, 0, 0, 0.33);
}
.btnWrap {
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  margin: 10rem 0;
}
.nextStepBtn {
  display: inline-block;
}
.nextStepBtn button {
  font-family: Playfair Display;
  font-size: 1.1rem;
  border: 1px solid var(--foreground);
  border-radius: 3rem;
  padding: 20px 30px;

  overflow: hidden;
  position: relative;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.nextStepBtn button:after {
  background-color: var(--foreground);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: -1;
}

.nextStepBtn button:hover {
  color: var(--background);
  cursor: pointer;
  transform: scale(1.05);
  will-change: transform;
}

.nextStepBtn button:hover::after {
  transform: translate(0, 0);
}
/* .form input; */

@media (max-width: 510px) {
  .form {
    flex-direction: column;
    justify-content: center;
  }
  .form label {
    justify-content: center;
    align-items: center;
  }
  .form input {
    width: 80%;
    height: 200px;
  }
}
