.section {
  position: relative;
  overflow: hidden;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  min-width: 380px;
  max-width: 900px;
}
.container {
  /* background: var(--background); */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.container::before {
  content: "";
  position: absolute;
  top: 13rem;
  left: 2rem;
  width: 400px;
  height: 400px;
  opacity: 0.5;
  z-index: -1;
  background: radial-gradient(circle, #fff, #f5e8ed, var(--background));
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  opacity: 0.5;
  z-index: -1;
  background: url("../../../../../public/background-heart.png") no-repeat;
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }
}
